input {
  width: 50%;
  text-align: center;
  padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}
.bg-image {
  /* The image used */
  background-image: url("ghana.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
